[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.8.1"
humanize = "==4.2.3"
pillow = "==9.2.0"
py-cord = "==2.0.0rc1"

[dev-packages]

[requires]
python_version = "3.10"
